/*3*/
/*autonomous start*/
.mission__blocks--autonomous{
    margin: 80px auto;
}
.mission__block--autonomous{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.mission__block--autonomous__description{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: var(--dark-grey);
}
.section__suptitle--content{
    margin-bottom: 50px;
}
.content__blocks__left__span{
    font-weight: 600;
}
.content--grey{
    background-color: var(--light-grey);
}
.flex-center{
    justify-content: space-around;

}
/*autonomous end*/