/*5*/
.section-wrapper--white{
    background-color: inherit;
}
.margen{
    margin: 15px 0;
}
.min-gap{
    gap: 30px;
}
.banner__wrapper--business{
    padding-bottom: 200px;
}
.banner__img--business{
    max-width: 60%;
    bottom: 0;
}
.content__blocks__left__text--grey:before{
    z-index: 0;
}
.margin-bottom{
   margin-bottom: 80px;
}
.content-article__text--space{
    line-height: 30px;
}
/*calculation*/
.calculation__wrapper{
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.calculation__block{
    width: calc(100% / 3 - 30px);
    padding: 60px 30px;
    background-color: var(--light-grey);
    border: 3px solid var(--grey);
    transform: skew(0deg, -5deg);
}
.calculation__skew{
    transform: skew(0deg, 5deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.product-title--border-bottom,
.calculation__list--border-bottom{
    padding-bottom: 20px;
    border-bottom: 2px solid var(--green);
}
.calculation__list__item__num,
.calculation__list__item__name{
    margin: 0;
}
.calculation__list__item__num{
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
}

.calculation__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.calculation__list__item{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.calculation__sum{
    display: flex;
    gap: 15px;
}
.calculation__sum__text--green{
    color: var(--green);
}
.calculation__sum__svg{
    min-width: 30px;
}
/*calculation end*/
/*content*/
.content__blocks__left__span{
    text-transform: uppercase;
}