@media (max-width: 1000px) {
    .banner__img--clients{
        /*position: relative;*/
        bottom: -20px;
        width: 30%;
    }
}
@media (max-width: 680px) {
    .banner__img--clients{
        width: 25%;
    }
}