/*6*/
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
}
.project-block{
    width: calc(100% / 2 - 30px);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px 50px;

    transition: all .3s ease-in-out;
    border: 3px solid var(--white);
}
.project-block:hover{
    border: 3px solid var(--grey);
    scale: 1.01;
}
.project__img__wrapper{
    overflow: hidden;
    position: relative;
}
.project__img{
    width: 100%;
    object-fit: contain;
}

.project__img__description{
    padding: 12px 30px;
    transform: skew(20deg, 0deg);
    color: var(--white);
}
.swiper-project-main__text__description--project-page{
    margin-bottom: 0;
}
.btn--project-page{
    width: fit-content;
    margin-left: 10px;
    z-index: 20;
}
.project__desc-wrapper{
    transform: skew(-20deg, 0deg);
    position: absolute;
    top: 0;
    left: -8px;
    background-color: var(--green);
}
.project-page__gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    margin-bottom: 80px;
}
.project-page__img{
    width: 100%;
    object-fit: contain;
}
.margin{
    margin: 80px 0 40px;
}
.project-page__item{
    width: calc(100% / 3 - 60px);
}
@media (max-width: 850px) {
    .project-block {
        width: calc(100% - 30px);
        padding: 20px 30px;
    }
    .projects {
        justify-content: center;
    }
}
@media (max-width: 750px) {
    .project-page__item {
        width: calc(100% / 2 - 60px);
    }
}
@media (max-width: 450px) {
    .project-page__item {
        width: calc(100%  - 60px);
    }
}


