@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}
:root{
    --dark-grey: #4D585A;
    --grey: #F2F2F2;
    --light-grey: #FCFCFC;
    --black: #282626;
    --green: #93D500;
    --white: #ffffff;
    --white-opasity: rgba(255, 255, 255, 0.90);
}
/*
     color: #ededed00;
    -webkit-text-stroke: 1px #adadad;
*/
*{
    font-family: "Roboto", sans-serif;
}

html,
body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
.wrapper{
    flex: 1 0 auto;
}
.container{
    width: 100%;
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
}
p{
    font-size: 18px;
}
.padding-bottom{
    padding-bottom: 20px;
}
.no-before:before{
    display: none;
}
/*title*/


/*hover*/
.effect_line{
    padding-bottom: 5px;
    overflow: hidden;
}
.effect_line:before{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--white);
    transform:  translateX(-101%);
}
.effect_line:hover:before {
    transform:  translateX(0);
}

::before,
::after {
    position: absolute;
    content: "";
}
.btn-2::before {
    background-color: var(--white);
    transition: 0.3s ease-out;
}
.btn__span__wrapper{
    transform: skew(20deg);
    color: var(--white);
    transition: 0.2s;
}
.btn__span__wrapper:hover {
    color: var(--dark-grey);
    transition: 0.2s 0.1s;
}
.btn {
    border: 3px solid var(--green);
    transform: skew(-20deg);
    background-color: var(--green);
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    cursor: pointer;
}
.btn .btn__span__wrapper {
    position: relative;
    display: inline-block;
    white-space: pre-line;
    font-size: 18px;
    font-weight: 700;
    top: 0; left: 0;
    width: 100%;
    padding: 12px 18px;
    transition: 0.3s;
}

.btn.hover-slide-right::before {
    top: 0; bottom: 0; left: 0;
    height: 100%; width: 0;
}
.btn.hover-slide-right:hover::before {
    width: 100%;
}

/*hover end*/
/*modal*/
.overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
}
.overlay.open{
    opacity: 1;
    pointer-events: initial;
    z-index: 35;
}
.modal {
    /*background-color: red;*/
    pointer-events: none;
    opacity: 0;
    transform: translateY(-100%);
    position: fixed;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    overflow-y: hidden;
}
.modal.modal-an {
    z-index: 1;
    animation: modalAnimClose .3s linear forwards;
}

.modal.open {
    background-color: rgba(77, 88, 90, 0.66);
    z-index: 65;
    pointer-events: initial;
    animation: modalAnimOpen .3s linear forwards;
}
@keyframes modalAnimOpen {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes modalAnimClose {
    0% {
        opacity: 1;
        transform: translateY(0);

    }
    100% {
        z-index: -1;
        opacity: 0;
        transform: translateY(-50%);
    }
}
.modal-content {
    background-color: var(--light-grey);
    margin: 90px auto;
    padding: 40px 0;
    width: 60%;
    height: fit-content;
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 100px;
}
#form--modal{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 0 0 60px;
}
#form--modal>label{
    text-align: left;
}
.form--modal>input,
.form--modal>textarea{
    height: 42px;
    border: 2px solid #9A9A9A;
    margin-bottom: 10px;
    padding: 6px;
    outline: none;
}
.close {
    position: absolute;
    right: 20px;
    top: 0;
    font-weight: 600;
    font-size: 48px;
    color: var(--green);
    float: right;
    transition: all .3s;
}
.close:hover,
.close:focus {
    color: var(--black);
    transform: rotate(-180deg);
    text-decoration: none;
    cursor: pointer;
}
.form-title{
    font-size: 56px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 15px;
}
.form__text{
    color: var(--dark-grey);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
}
.input-text{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px;
    border-bottom: 2px solid var(--dark-grey);
    margin-bottom: 30px;
    transition: all .3s ease-in-out;
}
.input-text:hover{
    border-bottom: 2px solid var(--green);
    -webkit-box-shadow: 0 6px 20px 3px rgba(147,213,0,0.14);
    -moz-box-shadow: 0 6px 20px 3px rgba(147,213,0,0.14);
    box-shadow: 0 6px 20px 3px rgba(147,213,0,0.14);
}
.btn__submit--modal{
    margin-top: 40px;
}
.form__title{
    color: var(--black);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}
#dropdown{
    width: 100%;
}

.form-contacts {
    min-width: 35%;
    padding: 20px;
    color: #fff;
    background-color: var(--dark-grey);
}
.form-contacts__title{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}
.form-contacts__contacts-list{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.form-contacts__contacts-list__link{
    display: flex;
    gap: 15px;
}
.form-contacts__contacts-list__text{
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all .3s ease-in-out;
}

.scroll-hidden { overflow: hidden }
/*modal end*/

/*fixed button*/
#img3{
    position:absolute;
    left:10px;
    top:10px;
    width:60px;

}
.img3{
    position: relative;
    top: 3px;
    left: 0;
}
.wrapper-contact-fixed{
    cursor: pointer;
    z-index: 85;
    width: 60px;
    height: 60px;
    border:5px solid var(--green);
    border-radius:100px;
    background:var(--green);
    transition:.6s;
    /*-webkit-box-shadow: 0 6px 20px 3px rgba(147,213,0,0.14);*/
    /*-moz-box-shadow: 0 6px 20px 3px rgba(147,213,0,0.14);*/
    /*box-shadow: 0 6px 20px 3px rgba(147,213,0,0.14);*/
    box-shadow: 1px 1px 20px 3px #a1c1e0;
    position: fixed;
    right: 60px;
    bottom: 80px;
}
.fixed-item{
    display: flex;
    justify-content: center;
    align-items: center;

}
#img3{
    position: relative;
    z-index: 50;
    top: 7px;
    left: 9px;
    fill:var(--white)

}
.fixed-icon{
    fill: var(--white);
}


.wrapper-contact-fixed:hover{
    box-shadow: 1px 1px 20px 8px #a1c1e0;
}
#btn1,
#btn2,
#btn3,
#btn4,
#btn5{
    position:absolute;
    top:0;
    left: 0;
    background:transparent;
    width: 70px;
    height: 55px;
    color:transparent;
    padding-top:5px;
    padding-bottom:5px;
    font-family:Georgia, serif;
    font-size:15px;
    border: 3px solid transparent;
    border-radius:100px;
    cursor:pointer;
    transition:.6s;
    opacity: 0;
}
.active>#btn1,
.active>#btn2,
.active>#btn3,
.active>#btn4,
.active>#btn5{
    opacity: 1;
    width: 60px;
    height: 60px;
    border-radius:50%;
    background:var(--green);
    box-shadow: 1px 1px 12px 6px #b1d1eb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fixed-icon{
    width: 40px;
    height: 40px;
    position: relative;
    top: 7px;
}
.active>#btn1{
    top: -76px;
    left: -5px;
}
.active>#btn2{
    top: -150px;
    left: -5px;
}
.active>#btn3 {
    top: -226px;
    left: -5px;
}
.active>#btn4 {
    top: -302px;
    left: -5px;
}
.active>#btn5 {
    top: -377px;
    left: -5px;
}
.active>#btn1:hover,
.active>#btn2:hover,
.active>#btn3:hover,
.active>#btn4:hover,
.active>#btn5:hover{
    box-shadow: 1px 1px 12px 14px #b1d1eb;
}

.pulse::after,
.pulse::before {
    content: '';
    position: absolute;
    border: 2px solid var(--green);
    left: -20px;
    opacity: 0;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: pulse 2.5s linear infinite;
}

.pulse::after {
    animation-delay: 1.25s;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}
/*fixed button end*/

/*header */
header{
    border-bottom: 1px solid var(--grey);
    position:sticky;
    top:-46px;
    z-index: 60;
    background-color: var(--white);
}
.header__up{
    background-color: var(--dark-grey);
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 0 8px 0;
}
.header__contacts{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}
.header__contact-link{
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all .3s ease-in-out;
}
.header__link__text
,.header__list__link{
    color: var(--white);
    font-size: 12px;
}
.header__list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
}

.header__contact-link,
.header__list__item{
    position: relative;
}
.header__contact-link:before,
.header__contact-link:after,
.header__list__item:before,
.header__list__item:after{
    content: '';
    position: absolute;
    transition: transform .5s ease;
}

.navbar{

    padding: 17px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.logo{
    width: fit-content;
    transition: all .3s ease-in-out;
}
.logo:hover{
    scale: 1.1;
}
.logo-svg{
    width: 100%;
    min-width: 140px;
    object-fit: initial;
}
.navbar__list{
    display: flex;
    /*align-items: center;*/
    gap: 30px;
}
.navbar__list-item{
    transform: skew(-20deg);
    transition: all 0.3s ease-in-out;
}
.navbar__list-link{
    text-align: center;
    transform: skew(20deg);
    display: inline-block;
    padding: 5px 10px;
    white-space: pre-line;
    color: var(--dark-grey);
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    margin: auto 0;
}
.navbar__list-item:hover{
    background-color: #93D500;
}
.navbar__list-item:hover .navbar__list-link{
    color: var(--white);
}
/*mobile menu*/
.nav {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0;
    /*max-width: 100vw;*/
    background-color: var(--white);
}
.nav > .nav-list {
    display: flex;
    gap: 1.5rem;
    justify-content: right;
}
.nav-list{
    margin-left: auto;
}
.nav > #nav-check {
    display: none;
}

/*header end*/

/*banner main page*/
.banner__wrapper{
    padding: 90px 0 120px;
    position: relative;
}
.main-title{
    color: var(--black);
    font-size: 46px;
    font-weight: 800;
    max-width: 70%;
    margin-bottom: 50px;
}
.banner__text{
    color: var(--dark-grey);
    font-size: 24px;
    font-weight: 600;
    max-width: 40%;
    margin-bottom: 90px;
}
.banner__img--main-page{
    position: absolute;
    bottom: -20px;
    right: 0;
    border-radius: 0 0 20% 20%;
}
/*banner end*/
/*mission*/
.section-wrapper{
    padding: 80px 0;
}
.mission{
    background-color: var(--light-grey);
}
.section__title{
    background-color: var(--dark-grey);
    width: fit-content;
    padding: 10px 30px;
    transform: skew(-20deg);
    margin-bottom: 50px;
}
.section__title__text{
    transform: skew(20deg);
    color: var(--white);
    font-size: 32px;
    font-weight: 600;
}
.section__title__text--green{
    text-transform: uppercase;
    color: var(--green);
}
.section__suptitle{
    color: var(--black);
    font-size: 24px;
    font-weight: 600;
    position: relative;
}
.section__suptitle:before{
    content: "";
    position: absolute;
    width: 50px;
    height: 11px;
    top: 25px;
    left: 26px;
    background-color: var(--green);
    opacity: 0.5;
    transform: skew(86deg);
}
.mission__blocks{
    margin: 65px 0 75px;
    display: flex;
    justify-content: space-between;
}
.mission__block{
    width: calc(100% / 3 - 65px);
}
.mission__img{
    width: 100%;
    object-fit: contain;
}
.mission__text__wrapper{
    margin-top: -60px;
    margin-left: auto;
    width: 90%;
    transform: skew(0, -10deg);
    padding: 60px 40px;
    background-color: var(--white);
}
.mission__list,
.mission__text__title{
    transform: skew(0, 10deg);
}
.mission__text__title{
    font-weight: 700;
    font-size: 24px;
    color: var(--dark-grey);
    margin-bottom: 15px;
}
.mission__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mission__list__text{
    font-size: 16px;
    color: var(--dark-grey);
    font-weight: 400;
    padding-left: 12px;
    position: relative;
}
.mission__list__text:before{
    content: "";
    background-color: var(--green);
    width: 5px;
    height: 15px;
    position: absolute;
    top: 2px;
    left: 0;
}
/*mission end*/
/*why-us*/
.content__blocks{
    display: flex;
    align-items: center;
    gap: 50px;
}
.content__blocks__left{
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.content__blocks__left__text{
    font-size: 18px;
    padding-left: 30px;
    position: relative;
}
.content__blocks__left__text:before{
    content: "";
    width: 10px;
    height: 100%;
    background-color: var(--green);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: skew(-10deg);
}
.content__blocks__left__item{
    display: flex;
    align-items: center;
    gap: 25px;
}
.why-us__img{
    object-fit: contain;
}
.content__blocks-svg{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
}
.why-us__block-svg{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.why-us__block-svg__text{
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-grey);
    white-space: pre-line;
    text-align: center;
}
/*why-us end*/

/*projects slider*/
.grey_bg{
    background-color: var(--light-grey);
}
.swiper{
    padding: 20px 18px 50px 18px;
}
.swiper-project-main {
    width: 100%;
}
.swiper-slide--swiper-project-main {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s ease-in-out;
    justify-content: space-between;
    height: initial;
}
.swiper-slide--swiper-project-main:hover{
    scale: 1.05;
    -webkit-box-shadow: 0 6px 20px 3px rgba(147,213,0,0.20);
    -moz-box-shadow: 0 6px 20px 3px rgba(147,213,0,0.20);
    box-shadow: 0 6px 20px 3px rgba(147,213,0,0.20);
}
.swiper-project-main__img{
    width: 100%;
    object-fit: contain;
}
.swiper-project-main__text-wrapper{
    height: -webkit-fill-available;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: 2px solid var(--green);
}
.swiper-project-main__img{
    position: relative;
}
.swiper-project-main__text__name,
.product-title{
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    color: var(--dark-grey);
}
.swiper-project-main__text__description,
.product-model,
.product-description{
    font-size: 16px;
    text-align: left;
    color: var(--dark-grey);
    margin-bottom: 20px;
}
.swiper-project-main__text__power,
.product-mark{
    color: var(--green);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: right;
    margin-top: auto;
}
.swiper-pagination-bullet-active {
    background: var(--green);
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;

}

/*projects slider end*/

/*store slider*/

.swiper-slide--main-store{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
    border: 2px solid var(--light-grey);
    transition: all .3s ease-in-out;
}

.swiper-slide--main-store:hover{
    border: 2px solid var(--green);
    background-color: var(--light-grey);
    scale: 1.05;
    -webkit-box-shadow: 0 6px 20px 3px rgba(147,213,0,0.14);
    -moz-box-shadow: 0 6px 20px 3px rgba(147,213,0,0.14);
    box-shadow: 0 6px 20px 3px rgba(147,213,0,0.14);
}
.wiper-slide--main-store__img{
    object-fit: contain;
    width: fit-content;
}
/*store slider end*/
/*form page*/
.form-section{
    background-color: var(--light-grey);
    padding: 50px 0;
}
.form-page__wrapper{
    display: flex;
    justify-content: center;
}
.green-block{
    padding: 50px 160px 50px 50px;
    max-width: 60%;
    background-color: var(--green);
    z-index: 20;
    transform: skew(-20deg);
    margin-bottom: 50px;
}
.form-page{
    background-color: white;
    z-index: 25;
    margin-left: -150px;
    margin-top: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
    transform: skew(-20deg);
    border: 3px solid var(--light-grey);
    border-bottom: 3px solid var(--green);
}

.form-page__title{
    color: var(--white);
    font-size: 46px;
    font-weight: 800;
    margin-bottom: 50px;
    transform: skew(20deg);

}
.form-page_text{
    color: var(--dark-grey);
    font-size: 24px;
    font-weight: 600;
    transform: skew(20deg);
}

.input-text--page{
    transform: skew(20deg);
}
.btn__submit--page{
    transform: skew(360deg);
}
/*formpage end*/
/*footer*/

.footer{
    background-color: var(--dark-grey);
}
.footer-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.footer__map{
    max-width: 40%;
}
.footer-nav__links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 40px;
}
.footer-nav__left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer__social-list{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer__social__path,
.footer__social__svg{
    transition: all .3s ease-in-out;
}
.footer__social__link:hover .footer__social__path{
    fill: var(--green)
}
.footer__social-item:hover .footer__social__svg{
    scale: 1.1;
    transform: scale(1.1) rotate(5deg) translate(0px, -5px);
    -moz-transform: scale(1.1) rotate(5deg) translate(0px, -5px);
    -webkit-transform: scale(1.1) rotate(5deg) translate(0px, -5px);
    -o-transform: scale(1.1) rotate(5deg) translate(0px, -5px);
    -ms-transform: scale(1.1) rotate(5deg) translate(0px, -5px);
}
.footer__contacts{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
}
.footer__link__text,
.footer__contact__phone-text{
    color: var(--white);
    font-weight: 500;
    font-size: 18px;
}
.header__contact-link--footer,
.footer__contact__link,
.footer__link__text{
    width: fit-content;
    transition: all .3s ease-in-out;
}
.header__contact-link--footer:hover .footer__link__text,
.footer__contact__link:hover .footer__link__text{
    color: var(--green);
}
.footer__menu-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__contact__phone{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer__down{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
}
.footer__down-text,
.dev_link{
    font-size: 14px;
    color: var(--light-grey);
    transition: all .3s ease-in-out;
}
.dev_link:hover{
    font-size: 16px;
    color: var(--green);
}
/*footer end*/

/*part to work*/
.part-to-work__item{
    list-style-type: decimal;
    font-size: 22px;
    margin-left: 10px;
    color: var(--green);
    font-weight: 900;
}
.content__blocks__left__text--grey{
    color: var(--dark-grey);
    font-weight: 400;
}
.part-to-work{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*park to work end*/

/*media*/
@media (max-width: 1060px) {
    .modal-content {
        margin: 0 auto;
        padding: 40px 0;
        gap: 50px;
    }
}
@media (max-width: 1000px) {
    .nav > .nav-list {
        gap: 1rem;
        justify-content: right;
    }
    .banner__wrapper {
        padding: 50px 0 80px;
    }
    .banner__img--main-page {
        bottom: 0;
        width: 60%;
    }
    .main-title,
    .form-page__title,
    .form__title{
        font-size: 36px;
    }
    .banner__text,
    .section__title__text{
        font-size: 22px;
    }
    .section__suptitle,
    .form-page_text,
    .form__text{
        font-size: 18px;
    }
    .btn .btn__span__wrapper,
    .content__blocks__left__text,
    .swiper-project-main__text__name,
    .product-title,
    .swiper-project-main__text__power,
    .product-mark,
    .product-mar,
    .footer__link__text,
    .footer__contact__phone-text{
        font-size: 16px;
    }
    .navbar__list-link,
    .swiper-project-main__text__description,
    .product-model,
    .product-description,
    .input-text {
        font-size: 14px;
    }
    .section__suptitle:before {
        height: 9px;
        top: 18px;
    }
    .mission__blocks {
        margin: 65px 0 75px;
        flex-wrap: wrap;
        gap: 65px;
        justify-content: center;
    }
    .mission__block {
        width: calc(100% / 2 - 65px);
    }
    .why-us__img {
        width: 50%;
    }
}
@media (max-width: 930px) {
    #form--modal {
        padding: 0 0 0 20px;
    }
    .modal-content {
        gap: 30px;
        flex-direction: column;
    }
    .btn__submit--modal {
        margin-top: 0px;
        width: 60%;
    }
    .form__text{
        margin-bottom: 20px;
    }
    .input-text {
        padding: 5px;
        margin-bottom: 15px;
    }
    .modal-content {
        padding: 20px 0 0;
    }
}
@media (max-width: 830px) {
    .header__up{
        display: none;
    }
    .header {
        position: sticky;
        top: 0;
    }
    .nav {
        padding: 1rem;
    }
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 30px;
        top: 8px;
        padding-top: 0.2rem;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 30px;
        height: 10px;
        border-top: 4px solid var(--green);
        transform: skew(-40deg, 0deg);
    }
    .nav > .nav-list {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        height: 0;
        transition: all 0.3s ease-in;
        top: 75px;
        left: 0;
        overflow: hidden;
        z-index: 98;
    }
    .nav > .nav-list > li {
        width: fit-content;
    }
    .nav > #nav-check:checked ~ .nav-list {
        height: fit-content;
        min-height: fit-content;
        max-height: fit-content;
        z-index: 99;
        background-color: var(--green);
        gap: 0;
    }
    .navbar__list-link {
        text-align: left;
        padding: 15px 40px;
        white-space: nowrap;
        color: var(--white);
        font-size: 16px;
    }
    .content__blocks{
        flex-direction: column;
    }
    .why-us__img {
        width: 60%;
    }
    .main-title{
        margin-bottom: 40px;
    }
    .banner__text {
        margin-bottom: 70px;
    }
    .banner__img--main-page {
        bottom: 25px;
    }
    .swiper-slide--main-store {
        gap: 10px;
    }
    .footer-nav {
        gap: 0;
    }
}
@media(max-width: 750px){
    .mission__block {
        width: 70%;
    }
    .footer-nav {
        flex-direction: column;
    }
    .form-page {
        margin-left: -150px;
        margin-top: 30px;
    }
    .footer__map {
        max-width: 100%;
        height: 220px;
    }
    .green-block {
        padding: 30px 150px 30px 30px;
        margin-bottom: 30px;
    }
    .main-title, .form-page__title {
        font-size: 32px;
    }
    .banner__text, .section__title__text {
        font-size: 20px;
    }

}
@media (max-width: 680px) {
    .container{
    padding: 0 25px;;
    }
    .form-page__wrapper {
        flex-direction: column;
    }
    .form-page {
        margin-left: 60px;
        margin-top: -35px;
        display: flex;
        width: 80%;

    }
    .green-block {
        max-width: 80%;
        margin-bottom: 0;
        margin-left: 15px;
    }
    .green-block {
        padding: 10px 20px 50px 10px;
    }
    .banner__img--main-page{
        width: 80%;
        bottom: 0;
    }
    .main-title,
    .banner__text{
        max-width: 100%;
    }
    .banner__wrapper {
        padding: 50px 0 200px;
    }
}
@media (max-width: 605px) {
    .form__title{
        margin-top: 20px;
        font-size: 24px;
    }
    .form__text{
        font-size: 18px;
    }
    .modal-content{
        margin-top: 10px;
        width: 80%;
    }
    .form-contacts{
        width: 80%;
    }
}
@media(max-width: 500px){
    .mission__block {
        width: 100%;
    }
}
@media(max-width: 420px){

    .mission__block {
        width: 100%;
    }
    .footer__link__text, .footer__contact__phone-text {
        font-size: 14px;
    }
    .form-page {
        margin-left: 50px;
    }
    .footer-nav__links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        padding: 20px;
    }
}
@media (max-width: 350px) {
    .form-page {
        margin-left: 34px;
    }
    .modal-content{
        margin-top: 20px;
        width: 90%;
    }
    .form-contacts{
        width: 90%;
    }
}




